{% extends "base.html" %}
{% block title %}{{super()}}{% endblock %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if user %}
  <h3>Hello {{user}}</h3>
  <p>Вы успешно вошли как {{user}}</p>
  <p>Посчитать факториал</p>
  {% if f %}
    <p>факториал {{ n }} равен {{ f }}</p>
  {% else %}
    <form method="post">
      {% for field in factorial_form %}
        {{ field.label }}{{ field }}
      {% endfor %}
      <input type="submit" value="посчитать">
    </form>
    {% endif %}
{% else %}
  <h3>Hello GUEST</h3>
  <p>Do you want to <a href="{{ url_for('login') }}">log in?</a></p>
  <p>If you log in , you can calculate the factorial!!! =) </p>
{% endif %}
{% endblock %}
