html {
    overflow-x: hidden;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    background-color: #00d1b2;

}
header{
    flex-direction: column;
    justify-content: right;
    align-items: inherit;
}
.navbar-item{
    padding: .5rem .75rem;
    background-color: #209cee;
    border-radius: 5px;
}
.parent {
    margin: 20px;
    padding: 15px;
    background-color: #b2ffff;
    border-radius: 5px;
    width: 1000px;
}
.id{
    width: 30px
}
.right{
    text-align: right;
}
.url_original{
    word-break: break-word;
    width: 430px;
}
.sh_link{
    width: 220px;
}
.date{
    width: 125px
}
.count{
    width: 100px
}
table{
    border: 1px;
}
td{
    border: 3px inset;
    padding: 5px;
}
th{
    border: 3px ridge;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    color: green;
}
button{
    width: 100%;
    background-color: #209cee;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    font-size: 1.5rem;
    border-width: 1px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: block!important;
}
input{
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    max-width: 96%;
    width: 96%;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    /*display: inline-flex;*/
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    box-sizing: inherit;
    padding-left: 10px;
    padding-right: 10px;
}
input::placeholder {
    color: #bcbcbc;
}
input[type="checkbox"] {
    height: 1em;
    width: auto;
}
.errors{
    color: #ffffff;
    background-color: red;
    padding: 5px;
}
.log_user{
    margin-bottom: -2em;
    margin-top: 0em;
    text-align: right;
}
.info {
    background: #02a564;
    color: white;
}