<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortLinker</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <div class="logo">
        <h1>ShortLinker</h1>
    </div>

    <div class="converter">
        <form method="post" class="my_form">
            <p>
                <input class="link_field" type="text" name="original_link" placeholder="Original link" required>
            </p>
            <input type="submit" class="submit_button">
<!--            <p>-->
<!--                <input class="link_field" type="text" name="short_link" placeholder="Short link" disabled>-->
<!--            </p>-->

        </form>
    </div>

</body>
</html>