<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>

     <table width="400" border="1">
         <tr>
             <th>Original link</th>
             <th>Short link</th>

         </tr>
         {% for link in links %}
         <tr>

             <td>
                 <a href="{{link[0]}}">{{link[0]}}</a>
             </td>
             <td>
                 <a href="{{link[1]}}">{{link[1]}}</a>
             </td>

         </tr>
         {% endfor %}
     </table>

</body>
</html>