<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Registration</title>
</head>
<body>
<div class="regisration_logo">
        <h1>Registration</h1>
</div>
<div class="sign_up">
        <form method="post" class="sign_up_form">
            <p>
                <input class="email_field" type="email" name="email" placeholder="Email" required>
            </p>
            <p>
                <input class="password_field" type="password" name="password" placeholder="Password" required>
            </p>
            <p>
                <input class="password_field" type="password" name="password_2" placeholder="Repeat the password" required>
            </p>
            <input type="submit" class="sign_up_button" value="Sign up">

        </form>
    </div>

</body>
</html>